# First steps in exploring/cleaning data export

Importing the library we need

In [1]:
import pandas as pd
import os

Loading the file in a panda dataframe (a 2 dimensional data structure, or a table with rows and columns).

In [2]:
my_export_file = "../data/a9eeaf49-sample.csv"

In [3]:
df = pd.read_csv(my_export_file, sep=';', encoding='utf-8')

In [4]:
# inspecting the data
df.head()

,uid,type,language,title,size,country,newspaper,issue,pages,nb_pages,...,year,is_on_front,date,persons_mentioned,locations_mentioned,content,access_right,content_provider,is_content_available,"[total:2705,available:2800]"
0,DTT-1951-06-05-a-i0039,NaN,de,Die OECE und die Schweiz,592,CH,DTT,DTT-1951-06-05-a,3,1,...,1951,False,1951-06-05T00:00:00Z,Gottfried Keller,Schweiz|Schweiz|Schweiz|Paris|Schweiz|Holland|...,Die OECE und die Schweiz Auf eine Kleine Anfra...,OpenPrivate,Migros,True,NaN
1,DTT-1951-01-11-a-i0031,NaN,de,"Hjalmar Schacht in Abessinien Arnhem, 10...",58,CH,DTT,DTT-1951-01-11-a,2,1,...,1951,False,1951-01-11T00:00:00Z,Hjalmar Schacht|Hermann Abs|Kaiser Haue,Abessinien|Frankfurt|Abessinien,"Hjalmar Schacht in Abessinien Arnhem , 10 . Ja...",OpenPrivate,Migros,True,NaN
2,DTT-1951-09-20-a-i0044,NaN,de,"eingeführt, die zwei Jahre darauf unter ...",779,CH,DTT,DTT-1951-09-20-a,11,1,...,1951,False,1951-09-20T00:00:00Z,Rand der Rentabilitätsgrenze,Italien|Rom|Rom|Winterthur,"eingeführt , die zwei Jahre darauf unter dem D...",OpenPrivate,Migros,True,NaN
3,DTT-1948-07-15-a-i0091,NaN,de,Holland: Ein neuer Kunstskandal Den Haag...,199,CH,DTT,DTT-1948-07-15-a,7,1,...,1948,False,1948-07-15T00:00:00Z,Wert von Tausenden,Holland|Sterling|Dieren|Deutschland,Holland : Ein neuer Kunstskandal Den Haag . ( ...,OpenPrivate,Migros,True,NaN
4,DTT-1945-10-10-a-i0004,NaN,de,"Die ersten Nachkriegswahlen in Norwegen,...",2069,CH,DTT,DTT-1945-10-10-a,1,1,...,1945,True,1945-10-10T00:00:00Z,Pearl Harbour,Laval|Holland|Wahlen|London|Deutschland|Hollan...,"Die ersten Nachkriegswahlen in Norwegen , Buda...",OpenPrivate,Migros,True,NaN

In [5]:
# which columns are there?
list(df.columns)

['uid',
 'type',
 'language',
 'title',
 'size',
 'country',
 'newspaper',
 'issue',
 'pages',
 'nb_pages',
 'relevance',
 'year',
 'is_on_front',
 'date',
 'persons_mentioned',
 'locations_mentioned',
 'content',
 'access_right',
 'content_provider',
 'is_content_available',
 '[total:2705,available:2800]']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   uid                          99 non-null     object
 1   type                         0 non-null      float64
 2   language                     99 non-null     object
 3   title                        99 non-null     object
 4   size                         99 non-null     int64
 5   country                      99 non-null     object
 6   newspaper                    99 non-null     object
 7   issue                        99 non-null     object
 8   pages                        99 non-null     int64
 9   nb_pages                     99 non-null     int64
 10  relevance                    99 non-null     float64
 11  year                         99 non-null     int64
 12  is_on_front                  99 non-null     bool
 13  date                         99 non-null     object
 14  persons_mentioned            77 non-null     object
 15  locations_mentioned          99 non-null     object
 16  content                      99 non-null     object
 17  access_right                 99 non-null     object
 18  content_provider             99 non-null     object
 19  is_content_available         99 non-null     bool
 20  [total:2705,available:2800]  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(12)
memory usage: 15.0+ KB

In [7]:
# Removing unecessary columns
df.drop(['access_right', 'content_provider', 'is_content_available'], axis = 1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   uid                          99 non-null     object
 1   type                         0 non-null      float64
 2   language                     99 non-null     object
 3   title                        99 non-null     object
 4   size                         99 non-null     int64
 5   country                      99 non-null     object
 6   newspaper                    99 non-null     object
 7   issue                        99 non-null     object
 8   pages                        99 non-null     int64
 9   nb_pages                     99 non-null     int64
 10  relevance                    99 non-null     float64
 11  year                         99 non-null     int64
 12  is_on_front                  99 non-null     bool
 13  date                         99 non-null     object
 14  persons_mentioned            77 non-null     object
 15  locations_mentioned          99 non-null     object
 16  content                      99 non-null     object
 17  [total:2705,available:2800]  0 non-null      float64
dtypes: bool(1), float64(3), int64(4), object(10)
memory usage: 13.4+ KB

In [9]:
def iramuteq_format(df):
    text = ''
    for row in df.itertuples():
        text += '**** *' + 'uid_' + str(row.uid) \
        + ' *np_' + str(row.newspaper) \
        + ' *year_' + str(row.year) \
        + ' *date_' + str(row.date) \
        + ' *size_' + str(row.size) \
        + '\n'\
        + row.content
    return text

In [10]:
text = iramuteq_format(df)

In [11]:
fname = "a9eeaf49-sample-iramuteq.txt"

In [12]:
with open(os.path.join("../data", fname), "w") as f:
    f.write(text)